h3 {
    margin: 0;
    padding: 0;
}

.vKitUI_madel {
    position: relative;
    z-index: 19891014
}

.vKitUI_madel * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.vKitUI_madel_main,
.vKitUI_madel_shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.vKitUI_madel_shade {
    background-color: rgba(0, 0, 0, .7);
    pointer-events: auto
}

.vKitUI_madel_main {
    display: table;
    font-family: Helvetica, arial, sans-serif;
    pointer-events: none
}

.vKitUI_madel_main .vKitUI_madel_section {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.vKitUI_madel_child {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: .2s
}

@-webkit-keyframes layui-m-anim-scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes layui-m-anim-scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.scale {
    animation-name: layui-m-anim-scale;
    -webkit-animation-name: layui-m-anim-scale
}

@-webkit-keyframes layui-m-anim-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(800px);
        transform: translateY(800px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes layui-m-anim-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(800px);
        transform: translateY(800px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.up {
    -webkit-animation-name: layui-m-anim-up;
    animation-name: layui-m-anim-up
}

.vKitUI_madel_dialog .vKitUI_madel_child {
    width: 90%;
    max-width: 400px
}

.vKitUI_madel_1 .vKitUI_madel_child {
    border: none;
    border-radius: 0
}

.vKitUI_madel_loading .vKitUI_madel_child {
    width: auto;
    max-width: 260px;
    min-width: 40px;
    border: none;
    background: 0 0;
    box-shadow: none;
    color: red
}

.vKitUI_madel_child h3 {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    text-align: center
}

.vKitUI_madel_btn span,
.vKitUI_madel_child h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.vKitUI_madel_cont {
    padding: 50px 30px;
    line-height: 22px;
    text-align: center
}

.vKitUI_madel_1 .vKitUI_madel_cont {
    padding: 0;
    text-align: left
}

.vKitUI_madel_loading .vKitUI_madel_cont {
    text-align: center;
    padding: 0;
    line-height: 0
}

.vKitUI_madel_loading .vKitUI_madel_cont i {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    display: inline-block;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.vKitUI_madel_btn,
.vKitUI_madel_btn span {
    position: relative;
    text-align: center;
    border-radius: 0 0 5px 5px
}

.vKitUI_madel_loading .vKitUI_madel_cont p {
    margin-top: 20px
}

@-webkit-keyframes layui-m-anim-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes layui-m-anim-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.vKitUI_madel_loading .vKitUI_madel_cont i:first-child {
    margin-left: 0;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.vKitUI_madel_loading .vKitUI_madel_cont i.vKitUI_madel_load {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.vKitUI_madel_loading .vKitUI_madel_cont>div {
    line-height: 22px;
    padding-top: 7px;
    margin-bottom: 20px;
    font-size: 14px
}

.vKitUI_madel_btn {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 0;
    border-top: 1px solid #D0D0D0;
    background-color: #F2F2F2
}

.vKitUI_madel_btn span {
    display: block;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-flex: 1;
    font-size: 14px;
    cursor: pointer
}

.vKitUI_madel_btn span[yes] {
    color: #40AFFE
}

.vKitUI_madel_btn span[no] {
    border-right: 1px solid #D0D0D0;
    border-radius: 0 0 0 5px
}

.vKitUI_madel_btn span:active {
    background-color: #F6F6F6
}

.vKitUI_madel_end {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 0;
    font-weight: 400;
    background: 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    font-size: 30px
}

.vKitUI_madel_end::after,
.vKitUI_madel_end::before {
    position: absolute;
    left: 5px;
    top: 15px;
    content: '';
    width: 18px;
    height: 1px;
    background-color: #999;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius: 3px
}

.vKitUI_madel_end::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

body .vKitUI_madel .vKitUI_madel_footer {
    position: fixed;
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    background: 0 0
}

.vKitUI_madel_footer .vKitUI_madel_cont {
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, .8)
}

.vKitUI_madel_footer .vKitUI_madel_btn {
    display: block;
    height: auto;
    background: 0 0;
    border-top: none
}

.vKitUI_madel_footer .vKitUI_madel_btn span {
    background-color: rgba(255, 255, 255, .8)
}

.vKitUI_madel_footer .vKitUI_madel_btn span[no] {
    color: #FD482C;
    border-top: 1px solid #c2c2c2;
    border-radius: 0 0 5px 5px
}

.vKitUI_madel_footer .vKitUI_madel_btn span[yes] {
    margin-top: 10px;
    border-radius: 5px
}

body .vKitUI_madel .vKitUI_madel_tips {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .7);
    color: #fff
}

.vKitUI_madel_tips .vKitUI_madel_cont {
    padding: 10px 20px
}


.loading {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -48px;
}

.cube1,
.cube2 {
    background-color: #673ab7;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}